<header class="white band padded">
	<div class="container pad-top">
		<div class="row">
			<div class="one third padded">
			
				<h1 class="responsive">
					<a href="#">
						<%= ::Rails.application.class.to_s.split("::").first %>
					</a>
				</h1>
					
			</div>
			<div class="two thirds padded">
				<nav class="inline pull-right">
					<ul>
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
